@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

.styledLinkContent--first-menu::before {
    content: url("assets/images/menu.svg");
    width: 25px;
}

.styledLinkContent--first-menu {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
}

.submenuWrapper--menu-box--isOpen {
    margin-left: 0;
}

.menuContainer--submenu-box {
    width: 352px;
}

.menuItem--menu-even--isClosed, .menuItem--menu-even--isOpen {
    background-color: #fff;
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
}

.styledLinkContent--menu-even {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    color: #000;
}

.styledLinkContent--menu-even:hover {
    color: #E7818C;
}

.menuItem--menu-odd--isClosed, .menuItem--menu-odd--isOpen {
    background-color: #E7818C;
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
}

.styledLinkContent--menu-odd {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    color: #000;
}

.styledLinkContent--menu-odd:hover {
    color: #fff;
}

.submenuWrapper--sub-submenu--isOpen {
    width: 233px;
    height: 391px;
    margin-left: 0;
}

.styledLinkContainer--submenu-content, .styledLinkContent--submenu-content {
    margin: 0;
    color: #000;
    font-size: 12px;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
}

.submenu--sub-submenu {
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
}

.styledLinkContainer--menu-even {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.styledLinkContainer--menu-odd {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.styledLinkContent--submenu-content:hover {
    font-weight: 700;
}

